/*

Tooplate 2111 Pro Line

http://www.tooplate.com/view/2111-pro-line

*/

body {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #000000;
  overflow-x: hidden;
  background-image: url(../images/gizmo_cropped.jpg), linear-gradient(#E4E0E0, #CCFFCC);
  background-repeat: no-repeat;
  background-size: 80%, 100%;
  background-position: center;
  background-attachment: fixed;
  background-opacity: 0.5;
}

.class2{
  background: rgba(170,255,170,0.5);
}

textarea {
  font-family: "Open Sans", sans-serif;
}

a:hover {
  text-decoration: none;
}

.tm-footer-link {
  color: #626262;
}

button {
  border: green;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  line-height: 1.7;
  margin-bottom: 35px;
}

p:last-child {
  margin-bottom: 0;
}

table.table_resource {
  table-layout: fixed ;
  width: 80% ;
}

canvas{
  width:80% ;
  height:600px ;

}

tr:nth-child(even) {background: #E0E0E0}
tr:nth-child(odd) {background: #CCFFCC}


figure {
  max-width: 100%;
}

.scroll {
  background: rgba(222, 226, 230, 0.39);
  padding: 18px 20px 10px;
  text-align: center;
  margin: 0 0 0 auto;
  cursor: pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  width: 65px;
  height: 60px;
}

.scroll:hover {
  background: rgba(178, 178, 178, 1);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.scroll:hover .fa {
  padding-top: -10px;
}

.scroll .fa {
  font-size: 30px;
  margin-top: -5px;
  margin-left: 1px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.tab-pane.fade {
  transition: opacity 0s linear;
}


@media (max-width: 767px) {
  .navbar-toggler {
    margin-left: auto;
    margin-right: 0;
  }

  .navbar {
    text-align: center;
    padding: 3px 0;
    margin-right: 0;
    margin-left: auto;
  }

  #tmMainNav {
    background: white;
    border: 1px solid #c6c6c6;
  }

  .navbar-light .navbar-toggler {
    border-radius: 0;
  }

  .scroll {
    margin: 20px auto 0;
  }

  .tm-banner-section video {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 540px) {
  .tm-activity-block {
    flex-direction: column;
  }

  .tm-activity-block-text {
    margin-top: 20px;
  }
}

@media (max-width: 440px) {
  .tm-features-section {
    padding-top: 60px;
    padding-bottom: 55px;
  }

  .tm-contact-section {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 10px 15px;
  }
}
